---
import Header from "@components/Nav/Header";
---

<section id="hero" class="bg-no-repeat bg-center bg-cover lg:bg-left-top  pb-20 pt-10 bg-mobile md:bg-desktop">
    <div class="section-container px-5">
        <Header client:only/>
        <p class="font-sans text-4xl md:text-[40px] lg:text-6xl text-white uppercase leading-none max-w-lg mt-32 mb-32 md:p-10 md:m-32 md:mx-0 p-6  border-2  ">Impressive Experiences That Deliver </p>
    </div>
    
</section>