---
import interactiveM from '@assets/mobile/image-interactive.jpg';
import interactiveD from '@assets/desktop/image-interactive.jpg';
---


<section id="feature">
    <div class="section-container">
        <div class="relative flex flex-col max-w-6xl mx-auto my-32 px-6 text-darkGray md:flex-row md:px-0">
            <img src={interactiveM} alt="" class="lg:hidden"/>

            <img src={interactiveD} alt="" class="hidden lg:block"/>
        </div>
    </div>
</section>

