---
import logo from "@assets/logo.svg";
import NavLinks from '@components/Nav/NavLinks'
---

<section id="footer" class="footer bg-black">
    <div class="section-container py-10 ">
        <div class="">

        </div>
    </div>
</section>