---
import logo from "@assets/logo.svg";
import Icons from "@components/Icons/Icons.astro";
import NavLinks from "@components/Nav/NavLinks";
---

<footer id="footer" class="footer bg-black">
  <div class="section-container py-10">
    <div
      class="text-white list-none grid justify-items-center md:justify-items-stretch md:grid-cols-[repeat(2,auto)] md:grid-rows-[repeat(2,auto)] md:justify-between"
    >
      <img src={logo} alt="logo" class="w-36 mb-8" />
      <NavLinks styles="text-center md:flex grid gap-5 col-start-1 row-start-2 mb-12 lg:mb-0" />
      <Icons />
      <p class="">2021 Loopstudios. All rights reserved.</p>
    </div>
  </div>
</footer>


